.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 99;
}
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 1rem;
  width: 350px;
  height: fit-content;
  color: var(--color-primary);
}
.register_header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-third);
}
.register_header i {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.register_header span:first-of-type {
  font-weight: 700;
  font-size: 32px;
}
.register_header span:last-of-type {
  font-size: 15px;
  color: var(--color-secondary);
}
.register_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg_line {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reg_col {
  position: relative;
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 0 10px;
}
.reg_line_header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  color: var(--color-secondary);
}
.reg_line_header i {
  margin-left: 2px;
  margin-top: 2px;
}
.reg_grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 35px;
  width: 100%;
}
.reg_grid select {
  width: 90px;
  font-size: 16px;
  color: var(--color-primary);
  background: var(--bg-primary);
  border-radius: 5px;
  cursor: pointer;
}
.reg_grid label {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  padding: 0 10px;
}
.reg_infos {
  font-size: 11px;
  margin-top: 10px;
  color: var(--color-secondary);
}
.reg_infos span {
  color: var(--blue-color);
}
.reg_btn_wrapper {
  width: 100%;
  display: flex;
  align_items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}
